<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href="/images/Icons/favicon.ico" rel="icon" type="image/x-icon">

    <title>Ingram Micro -
        <% if (title == "home") { %>
        Home
        <% } else if (title === "location") {%>
        Location
        <% } else if (title === "request") {%>
        Reports
        <% } else if (title === "profile") {%>
        Profile
        <% } else if (title === "admin") { %>
        Admin
        <% } else if (title === "tickets") { %>
        Tickets
        <% } else if (title === "notAllowed") { %>
        Not Allowed
        <% } %>
    </title>

    <style type="text/css">
        /* #2f75bb */
        @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

        body {
            font-size: 14px;
            color: #333;
            list-style: 26px;
            font-family: 'Roboto', sans-serif;
        }

        /** ======================  base css ==============================**/

        a:hover {
            text-decoration: none;
        }

        /** ======================  header ==============================**/
        .header {
            background-color: #2f75bb
        }

        .header .dropdown-menu {
            position: absolute;
            right: 0;
            left: auto;
            border-radius: 0px;
        }

        .header .user-image {
            float: left;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: -2px;
        }

        .header .navbar-light .navbar-nav .nav-link {
            color: #fff
        }

        .header .navbar-light .navbar-nav .nav-link:hover,
        .header .navbar-light .navbar-nav .nav-link:focus {

            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
        }

        .header .fa.fa-fw.fa-bars {
            color: #fff;
        }

        .header .navbar-light .navbar-nav .nav-link {
            color: #fff;
            padding: 10px 20px;
            position: relative;
        }

        .header li>a>.label {
            position: absolute;
            top: 9px;
            right: 7px;
            text-align: center;
            font-size: 9px;
            padding: 2px 3px;
            line-height: .9;
            background-color: #333;
            border-radius: .25em;
        }

        .header li>a:after {
            display: none;
        }

        .header-ul {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #ffffff;
            padding: 7px 10px;
            border-bottom: 1px solid #f4f4f4;
            color: #333;
            font-size: 14px;
        }

        .navbar-nav>.notifications-menu>.dropdown-menu,
        .navbar-nav>.messages-menu>.dropdown-menu,
        .navbar-nav>.tasks-menu>.dropdown-menu {
            width: 280px;
            padding: 0 0 0 0;
            margin: 0;
            top: 100%;
        }

        .navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>div>img {
            margin: auto 10px auto auto;
            width: 40px;
            height: 40px;
        }

        .navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a,
        .navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a {
            margin: 0;
            padding: 10px 10px;
            display: block;
            white-space: nowrap;
            border-bottom: 1px solid #f4f4f4;
        }

        .navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>h4 {
            padding: 0;
            margin: 0 0 0 45px;
            color: #333;
            font-size: 15px;
            position: relative;
        }

        .navbar-nav>.messages-menu>.dropdown-menu li .menu>li>a>p {
            margin: 0 0 0 45px;
            font-size: 12px;
            color: #888888;
        }

        .footer-ul a {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            font-size: 12px;
            background-color: #fff;
            padding: 7px 10px;
            border-bottom: 1px solid #eeeeee;
            color: #333;
            display: block;
        }

        .dropdown-menu-over .menu {
            max-height: 200px;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-x: hidden;
        }

        .navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a {
            color: #444444;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px;
        }

        .navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a>.glyphicon,
        .navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a>.fa,
        .navbar-nav>.notifications-menu>.dropdown-menu li .menu>li>a>.ion {
            width: 20px;
        }

        a.navbar-brand {
            width: 165px;
        }


        /***    left menu ****/

        /***********************  TOP Bar ********************/
        .sidebar {
            width: 250px;
            background-color: #000;
            transition: all 0.5s ease-in-out;
        }

        .bg-defoult {
            background-color: #2f75bb;
        }

        .sidebar ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .sidebar li a,
        .sidebar li a.collapsed.active {
            display: block;
            padding: 8px 12px;
            color: #fff;
            border-left: 0px solid #dedede;
            text-decoration: none
        }

        .sidebar li a.active {
            background-color: #66aaee;
            border-left: 5px solid #dedede;
            transition: all 0.5s ease-in-out
        }

        .sidebar li a:hover {
            background-color: #3c90e4 !important;
        }

        .sidebar li a i {
            padding-right: 5px;
        }

        .sidebar ul li .sub-menu li a {
            position: relative
        }

        .sidebar ul li .sub-menu li a:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 0px;
            padding-right: 10px;
            vertical-align: middle;
        }

        .sidebar ul li .sub-menu li a:hover:after {
            content: "";
            position: absolute;
            left: -5px;
            top: 0;
            width: 5px;
            background-color: #111;
            height: 100%;
        }

        .sidebar ul li .sub-menu li a:hover {
            background-color: #222;
            padding-left: 20px;
            transition: all 0.5s ease-in-out
        }

        .sub-menu {
            border-left: 5px solid #dedede;
        }

        .sidebar li a .nav-label,
        .sidebar li a .nav-label+span {
            transition: all 0.5s ease-in-out
        }


        .sidebar.fliph li a .nav-label,
        .sidebar.fliph li a .nav-label+span {
            display: none;
            transition: all 0.5s ease-in-out
        }

        .sidebar.fliph {
            width: 42px;
            transition: all 0.5s ease-in-out;

        }

        .sidebar.fliph li {
            position: relative
        }

        .sidebar.fliph .sub-menu {
            position: absolute;
            left: 39px;
            top: 0;
            background-color: #222;
            width: 150px;
            z-index: 100;
        }


        .user-panel {
            clear: left;
            display: block;
            float: left;
        }

        .user-panel>.image>img {
            width: 100%;
            max-width: 45px;
            height: auto;
        }

        .user-panel>.info,
        .user-panel>.info>a {
            color: #fff;
        }

        .user-panel>.info>p {
            font-weight: 600;
            margin-bottom: 9px;
        }

        .user-panel {
            clear: left;
            display: block;
            float: left;
            width: 100%;
            margin-bottom: 15px;
            padding: 25px 15px;
            border-bottom: 1px solid;
        }

        .user-panel>.info {
            padding: 5px 5px 5px 15px;
            line-height: 1;
            position: absolute;
            left: 55px;
        }

        .fliph .user-panel {
            display: none;
        }

        nav.sidebar,
        nav[role="navigation"] {
            background-color: #2f75bb !important;
            padding-left: 0px;
        }

        nav[role="navigation"] {
            border-bottom: 5px solid #dedede
        }







        /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
        }

        #sidebar .nav {
            min-width: 250px;
            max-width: 250px;
        }

        #sidebar.active {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
        }

        #sidebar.active .nav {
            min-width: 80px;
            max-width: 80px;
        }







        #sidebarCollapse {
            height: 30px;
        }

        [role="main"] {
            transition-delay: "2s";
        }

        #sidebarCollapse {
            color: #000;
        }
    </style>

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="/plugins/jquery/jquery-ui.css">
    <link rel="stylesheet" href="/plugins/font-awesome/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/stylesheets/css/bootstrap-responsive.min.css"> -->
    <!-- jQuery UI -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/jquery-ui/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css"> -->
    <!-- PageGuide -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/pageguide/pageguide.css"> -->
    <!-- Fullcalendar -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="/stylesheets/css/plugins/fullcalendar/fullcalendar.print.css" media="print"> -->
    <!-- timepicker -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/timepicker/bootstrap-timepicker.min.css"> -->
    <!-- Datepicker -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/datepicker/datepicker.css"> -->
    <!-- Daterangepicker -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/daterangepicker/daterangepicker.css"> -->

    <!-- Tagsinput -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/tagsinput/jquery.tagsinput.css"> -->
    <!-- chosen -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/chosen/chosen.css"> -->
    <!-- select2 -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/select2/select2.css"> -->
    <!-- icheck -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/icheck/all.css"> -->
    <!-- Theme CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/style__not-minified.css"> -->
    <!-- Color CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/themes.css">
    <link rel="stylesheet" href="/stylesheets/style.css"> -->

    <!-- Multi Select box -->
    <!-- <link href="/stylesheets/css/bootstrap-select.min.css" rel="stylesheet"> -->

    <!-- datatable -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/plugins/datatable/TableTools.css"> -->

    <style type="text/css">
        #error_modal button {
            right: 5px;
        }
    </style>

    <!-- jQuery -->
    <!-- <script src="/javascripts/js/jquery.min.js"></script> -->
    <script src="/plugins/jquery/jquery-3.3.1.min.js"></script>



    <!-- Nice Scroll -->

    <!-- <script src="/javascripts/js/plugins/nicescroll/jquery.nicescroll.min.js"></script> -->
    <!-- jQuery UI -->
    <!-- <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
    <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="/javascripts/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script> -->
    <!-- Touch enable for jquery UI -->
    <!-- <script src="/javascripts/js/plugins/touch-punch/jquery.touch-punch.min.js"></script> -->
    <!-- slimScroll -->
    <!-- <script src="/javascripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script> -->



    <script src="/plugins/popper/popper.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>




    <!-- Bootstrap -->
    <!-- <script src="/javascripts/js/bootstrap.min.js"></script> -->
    <!-- vmap -->
    <!-- <script src="/javascripts/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="/javascripts/js/plugins/vmap/jquery.vmap.world.js"></script>
    <script src="/javascripts/js/plugins/vmap/jquery.vmap.sampledata.js"></script> -->
    <!-- Bootbox -->
    <!-- <script src="/javascripts/js/plugins/bootbox/jquery.bootbox.js"></script> -->
    <!-- Flot -->
    <!-- <script src="/javascripts/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="/javascripts/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
    <script src="/javascripts/js/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="/javascripts/js/plugins/flot/jquery.flot.resize.min.js"></script> -->
    <!-- imagesLoaded -->
    <!-- <script src="/javascripts/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script> -->
    <!-- PageGuide -->
    <!-- <script src="/javascripts/js/plugins/pageguide/jquery.pageguide.js"></script> -->
    <!-- moment js -->

    <script src="/plugins/moment/moment.min.js"></script>

    <!-- FullCalendar -->
    <!-- <script src="/javascripts/js/plugins/fullcalendar/fullcalendar.min.js"></script> -->
    <!-- TagsInput -->
    <!-- <script src="/javascripts/js/plugins/tagsinput/jquery.tagsinput.min.js"></script> -->
    <!-- Datepicker -->
    <!-- <script src="/javascripts/js/plugins/datepicker/bootstrap-datepicker.js"></script> -->
    <!-- Daterangepicker -->
    <!-- <script src="/javascripts/js/plugins/daterangepicker/daterangepicker.js"></script> -->
    <!-- Timepicker -->
    <!-- <script src="/javascripts/js/plugins/timepicker/bootstrap-timepicker.min.js"></script> -->
    <!-- Chosen -->
    <!-- <script src="/javascripts/js/plugins/chosen/chosen.jquery.min.js"></script> -->
    <!-- select2 -->
    <!-- <script src="/javascripts/js/plugins/select2/select2.min.js"></script> -->
    <!-- icheck -->
    <!-- <script src="/javascripts/js/plugins/icheck/jquery.icheck.min.js"></script> -->

    <!-- Theme framework -->
    <!-- <script src="/javascripts/js/eakroko.js"></script> -->
    <!-- Theme scripts -->
    <!-- <script src="/javascripts/js/application.js"></script> -->
    <!-- Just for demonstration -->
    <!-- <script src="/javascripts/js/demonstration.js"></script> -->


    <!-- datatable -->
    <!--<script src="/javascripts/js/plugins/datatable/jquery.dataTables.js"></script>-->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"> -->
    <!-- <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script> -->

    <link rel="stylesheet" href="/plugins/dataTables/dataTables.bootstrap4.min.css">
    <script src="/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <!-- Bootstrap select -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap-select.min.css">
    <script src="/plugins/bootstrap/bootstrap-select.min.js"></script>




    <!-- Validation -->
    <!-- <script src="/javascripts/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="/javascripts/js/plugins/validation/additional-methods.min.js"></script> -->
    <!-- Form -->
    <!-- <script src="/javascripts/js/plugins/form/jquery.form.min.js"></script> -->
    <!-- Wizard -->
    <!-- <script src="/javascripts/js/plugins/wizard/jquery.form.wizard.min.js"></script>
    <script src="/javascripts/js/plugins/mockjax/jquery.mockjax.js"></script> -->

    <!-- Multi Select box -->
    <!-- <script src="/javascripts/js/bootstrap-select.js"></script> -->

    <!-- JS datatables -->
    <!-- <script src="/javascripts/js/plugins/datatable/IM-datatables.min.js"></script> -->

    <!-- datatable excel filter -->
    <!-- <script src="/javascripts/js/excel-filter.js"></script> -->


    <!--[if lte IE 9]>
		<script src="/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/stylesheets/icon/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <!-- <link rel="apple-touch-icon-precomposed" href="/stylesheets/img/apple-touch-icon-precomposed.png" /> -->

    <!-- Ladda -->
    <!-- <link rel="stylesheet" href="/javascripts/js/bootstrapLadda/Ladda-1.0.0/ladda-themeless.min.css" />
    <script type="text/javascript" src="/javascripts/js/bootstrapLadda/Ladda-1.0.0/spin.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/bootstrapLadda/Ladda-1.0.0/ladda.min.js"></script> -->

    <script type="text/javascript">

        window.onload = function () {
            var currentWindowLocationHref = window.location.href;
            var currentWindowLocationHrefArray = currentWindowLocationHref.split("/");

            //var el = document.getElementsByClassName("main-nav");
            //var chEl = el[0].children;
            //chEl = chEl[0].children;
            //// Change location

            //// Change name
            //chEl = chEl[0].children;
            //chEl.textContent = currentWindowLocationHref[3];
            $(".main-nav a").attr("href", currentWindowLocationHref);
            $(".main-nav span").text(currentWindowLocationHrefArray[3] ? currentWindowLocationHrefArray[3] : "Home");

            $('.button-left').click(function () {
                $('.sidebar').toggleClass('fliph');
            });
        }
        var userType = '<%= userType %>';
    </script>

    <!-- Highcharts -->
    <link rel="stylesheet" href="/plugins/d3/nv.d3.css">
    <script src="/plugins/d3/d3.min.js" charset="utf-8"></script>
    <script src="/plugins/d3/nv.d3.js"></script>


    <% if (title === "home") { %>
    <style type="text/css">
        #popupModal {
            display: none;
        }
    </style>
    <% } else if (title === "location") { %>
    <link rel="stylesheet" href="stylesheets/Styling/request-style.css" />
    <style type="text/css">
        /* text area */
        #DTE_Field_RoomDescriptionField {
            height: 100px;
            resize: none;
        }

        #popupModal {
            display: none;
        }

        [name="onHoverPosition"] {
            position: relative;
        }

        [name="onHoverPosition"] #onHoverLocationInformation {
            padding: 10px;
            display: none;
            position: fixed;
            width: 400px;
            height: 160px;
            z-index: 1;
            opacity: 0.90;
            top: 30px;
            margin: 5% auto;
            /* Will not center vertically and won't work in IE6/7. */
            left: 0;
            right: 0;
            border: 3px solid #000;
            background-color: #dedede;
            text-align: center;
        }
    </style>

    <!-- <link rel="stylesheet" href="stylesheets/css/style.css" /> -->
    <link rel="stylesheet" href="stylesheets/style/buttons.css" />
    <link rel="stylesheet" href="stylesheets/style/rooms.css" />

    <!-- ETC Ground Floor -->
    <link rel="stylesheet" href="stylesheets/style/ETCGF/buttonsETCGF.css" />
    <link rel="stylesheet" href="stylesheets/style/ETCGF/roomsETCGF.css" />

    <!-- ETC C -->
    <link rel="stylesheet" href="stylesheets/style/ETCC/buttonsETCC.css" />
    <link rel="stylesheet" href="stylesheets/style/ETCC/roomsETCC.css" />

    <!-- ETC D -->
    <link rel="stylesheet" href="stylesheets/style/ETCD/buttonsETCD.css" />
    <link rel="stylesheet" href="stylesheets/style/ETCD/roomsETCD.css" />

    <!-- ETC D fl 3-->
    <link rel="stylesheet" href="stylesheets/style/ETCD3/buttonsETCD3.css" />
    <link rel="stylesheet" href="stylesheets/style/ETCD3/roomsETCD3.css" />

    <!-- MHQ 1 -->
    <link rel="stylesheet" href="stylesheets/style/MHQ1/buttonsMHQ1.css" />
    <link rel="stylesheet" href="stylesheets/style/MHQ1/roomsMHQ1.css" />

    <!-- MHQ 2 -->
    <link rel="stylesheet" href="stylesheets/style/MHQ2/buttonsMHQ2.css" />
    <link rel="stylesheet" href="stylesheets/style/MHQ2/roomsMHQ2.css" />

    <!-- MHQ 6 -->
    <link rel="stylesheet" href="stylesheets/style/MHQ6/buttonsMHQ6.css" />
    <link rel="stylesheet" href="stylesheets/style/MHQ6/roomsMHQ6.css" />
    
    <!-- ETCB Floor 2 -->
    <link rel="stylesheet" href="stylesheets/style/ETCB2/buttonsETCB2.css" />
    <link rel="stylesheet" href="stylesheets/style/ETCB2/roomsETCB2.css" />

    <link rel="stylesheet" href="stylesheets/style/tables.css" />

    <script type="text/javascript">
        var AppGlobal = {
            Username: "@ViewBag.Username",
            Path: (function () {
                var path = window.location.origin

                if (!window.location.origin) {
                    path = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
                }

                return path;
            }()),
            DefaultTransitionTime: 1,
            DefaultDateTimeFormat: "DD-MM-YYYY, HH:mm",
            UpdatedList: {
                Added: [],
                Updated: [],
                Removed: [],
                Quited: []
            }
        }
    </script>

    <script type="text/javascript" src="javascripts/js/plugins/knockout/knockout-3-4-0.min.js"></script>

    <script type="text/javascript" src="/plugins/file-saver/FileSaver.js"></script>

    <!-- <script type="text/javascript" src="javascripts/_DataTables-1.10.9/Editor-1.4.0/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" src="javascripts/_DataTables-1.10.9/Editor-1.4.0/js/editor.bootstrap.js"></script>
    <script type="text/javascript" src="javascripts/_DataTables-1.10.9/Editor-1.4.0/js/fieldTypesExtensions.editor.js"></script> -->

    <!--
		<script type="text/javascript" src="javascripts/IMappl/Location/ApplLocationEvents.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/ApplOnClickEvents.js"></script>
		-->

    <script type="text/javascript" src="javascripts/js/plugins/html2canvas/html2canvas.min.js"></script>
    <script type="text/javascript" src="javascripts/js/plugins/html2canvas/canvas2image.min.js"></script>
    <script type="text/javascript" src="javascripts/js/plugins/html2canvas/html2canvas-v2.min.js"></script>

    <!--
		<script type="text/javascript" src="javascripts/IMappl/Location/LocationAppl.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/Scripts/ApplGetBuildings.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/Scripts/ApplGetPosition.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/Scripts/ApplGetRooms.js"></script>

		<script type="text/javascript" src="javascripts/IMappl/Location/Additional/ApplLocationEditEvents.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/Additional/ApplRoomEditEvents.js"></script>

		<script type="text/javascript" src="javascripts/IMappl/Location/Scripts/ApplPlaceChangeLog.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Location/Scripts/ApplRoomChangeLog.js"></script>	

		<script type="text/javascript" src="javascripts/IMappl/Location/ApplLocationInit.js"></script>
		-->
    <% } else if (title === "request") {%>
    <link rel="stylesheet" href="stylesheets/Styling/request-style.css" />
    <!-- <script type="text/javascript" src="javascripts/IMappl/Request/ExcelExport.js"></script>
		<script type="text/javascript" src="javascripts/IMappl/Request/ApplRequest.js"></script>
        <script type="text/javascript" src="javascripts/IMappl/Request/ApplRequestEvents.js"></script> -->

    <% } else if (title === "admin") { %>
    <script type="text/javascript">
        function myFunction(inputId, tableId) {
            // Declare variables 
            var input, filter, table, tr, td, i;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <% } else if (title === "tickets") { %>
    <style type="text/css">
        table tr td {
            max-width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #popupModal {
            display: none;
        }
    </style>

    <% } %>

    <style type="text/css">
        .found {
            border: 5px solid black !important;
            background-color: orange !important;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row pt-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
                <a href="/" id="brand" style="width:150px;height:30px;background: url(../stylesheets/img/Logo_White.png) no-repeat;"></a>
                <div class="collapse navbar-collapse">
                    <!-- <div class="collapse navbar-collapse"> -->
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        <% if (username) { %>
                        <li class="dropdown order-1">
                            <form action="/users/logOut" method="post">
                                <input type="hidden" name="currentUrl" value="<%= title %>" />
                                <input class="btn btn-light" type="submit" value="Log Out" />
                            </form>
                        </li>
                        <% } else { %>
                        <li class="dropdown order-1">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-light dropdown-toggle">Login
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2" style="width: 400px;">
                                <li class="px-3 py-2">
                                    <form class="form" role="form" action="/users/logIn" method="POST">
                                        <input type="hidden" name="currentUrl" value="<%= title %>" />
                                        <div class="form-group">
                                            <input name="username" placeholder="Active Directory Username" class="form-control form-control-sm"
                                                type="text" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input name="password" placeholder="Password" class="form-control form-control-sm"
                                                type="password" required="required">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <% } %>
                    </ul>
                    <!-- </div> -->
                </div>
            </nav>
        </div>

        <div class="row pt-5">
            <nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar position-fixed" style="height: 93vh;">
                <div class="nav col-md-2 flex-sm-column position-fixed">
                    <% if (username) { %>
                    <div class="sidebar-sticky">
                        <div class="pull-left info">
                            <p class="pt-3 text-white"><i class="fa fa-circle text-success"></i>
                                <%= fullName %>
                            </p>
                        </div>
                    </div>
                    <% } %>
                    <ul class="list-sidebar bg-defoult" style="width: 100%;">
                        <li>
                            <a class="btn btn-light" href="#" id="sidebarCollapse">
                                <span class="fa fa-chevron-left pull-right"></span>
                            </a>
                            <script>
                                document.getElementById('sidebarCollapse').addEventListener('click', function (e) {
                                    if ($('[class="nav col-md-2 flex-sm-column position-fixed"]').width() >= 150) {
                                        $('[class="nav col-md-2 flex-sm-column position-fixed"]').width(80);
                                        document.getElementById('sidebarCollapse').innerHTML = '<span class="fa fa-chevron-right pull-right"></span>';
                                        setTimeout(function () {
                                            document.querySelector('[role="main"]').className = 'col-md-10 ml-sm-auto col-lg-11 pt-3 px-4';
                                        }, 200);
                                    } else {
                                        $('[class="nav col-md-2 flex-sm-column position-fixed"]').width(238);
                                        document.getElementById('sidebarCollapse').innerHTML = '<span class="fa fa-chevron-left pull-right"></span>';
                                        document.querySelector('[role="main"]').className = 'col-md-10 ml-sm-auto col-lg-10 pt-3 px-4'
                                    }
                                    $('#sidebar').toggleClass('active');
                                });
                            </script>
                            <!-- <a href="#" data-toggle="collapse" data-target="#dashboard" class="active"> <i class="fa fa-th-large"></i>
                                <span class="nav-label"> Menu </span>
                            </a> -->
                            <ul class="sub-menu collapse show" id="dashboard">
                                <li>
                                    <a href="/"><i class="icon-home"></i> Home</a>
                                </li>
                                <li>
                                    <a href="/location"><i class="icon-tasks"></i> Location</a>
                                </li>
                                <li>
                                    <a href="/reports"><i class="icon-download-alt"></i> Reports</a>
                                </li>
                                <% if (userType == "admin") { %>
                                <li>
                                    <a href="/admin"><i class="icon-group"></i> Admin</a>
                                </li>
                                <% } %>
                                <% if (userType == "superadmin") { %>
                                <li>
                                    <a href="/admin"><i class="icon-group"></i> Admin</a>
                                </li>
                                <% } if (username) { %>
                                <li>
                                    <a href="/tickets"><i class="icon-flag"></i> Tickets</a>
                                </li>
                                <% } %>
                                <li>
                                    <a href="http://ingrammicroconnect/sites/oss/sofia/Policy/Forms/AllItems.aspx?RootFolder=%2Fsites%2Foss%2Fsofia%2FPolicy%2FSSC%20Procedures%2FEvacuation&FolderCTID=0x01200055DB05E3FEEA574BB0AAE315F3678FAC&View=%7BFD22650C-70C4-4EAB-A605-3BC4CEBA4527%7D"
                                        target="_blank"><i class="glyphicon-share_alt"></i> Evacuation Procedures</a>
                                </li>
                                <li>
                                    <a href="http://ingrammicroconnect/sites/oss/sofia/Policy/Forms/AllItems.aspx?RootFolder=%2Fsites%2Foss%2Fsofia%2FPolicy%2FSSC%20Policies%2FParking&FolderCTID=0x01200055DB05E3FEEA574BB0AAE315F3678FAC&View=%7BFD22650C-70C4-4EAB-A605-3BC4CEBA4527%7D"
                                        target="_blank"><i class="glyphicon-share_alt"></i> Parking Policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <p name="use_different_browser" style="text-align: center; color: #F00; font-size: 1.5em; display: none;">
                    Please use a browser different than Internet Explorer
                </p>
                <script>
                    if (!(window.ActiveXObject) && "ActiveXObject" in window) {
                        document.querySelector('p[name="use_different_browser"]').style.display = "block";
                    }
                </script>
                <% if (title === "home") { %>
                <%- include ../home/index.ejs %>

                <script type="text/javascript" src="javascripts/IMappl/Home/Service.min.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Home/ViewModel.min.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Home/Controller.min.js"></script>

                <script type="text/javascript">
                    window.onload = function () {
                        if (Controller) {
                            Controller.init();
                        }
                    }
                </script>
                <% } else if (title === "location") { %>
                <%- include ../location/index.ejs %>

                <!--
                                        <script type="text/javascript" src="javascripts/IMappl/Location/Additional/ApplLocationEditEvents.js"></script>
                                        <script type="text/javascript" src="javascripts/IMappl/Location/Additional/ApplRoomEditEvents.js"></script>
                                        -->

                <script type="text/javascript" src="/javascripts/IMappl/Location/Model/Service.js"></script>
                <script type="text/javascript" src="/javascripts/IMappl/Location/Model/ViewModel.js"></script>
                <script type="text/javascript" src="/javascripts/IMappl/Location/Model/Controller.js"></script>

                <script type="text/javascript">
                    window.onload = function () {
                        //document.getElementById("content").style.height = "";
                        if (Controller) {
                            Controller.init();
                        }
                    }
                </script>
                <% } else if (title === "request") { %>
                <%- include ../request/index.ejs %>

                <script type="text/javascript" src="javascripts/IMappl/Request/Model/Service.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Request/Model/ViewModel.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Request/Model/Controller.js"></script>

                <script type="text/javascript">
                    window.onload = function () {
                        //document.getElementById("content").style.height = "";
                        if (Controller) {
                            Controller.init();
                        }
                    }
                </script>
                <% } else if (title === "profile") { %>
                <%- include ../profile/index.ejs %>
                <% } else if (title === "admin") { %>
                <%- include ../admin/index.ejs %>
                <% } else if (title === "tickets") { %>
                <%- include ../tickets/index.ejs %>
                <script type="text/javascript" src="javascripts/IMappl/Tickets/Service.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Tickets/ViewModel.js"></script>
                <script type="text/javascript" src="javascripts/IMappl/Tickets/Controller.js"></script>

                <script type="text/javascript">
                    window.onload = function () {
                        if (Controller) {
                            Controller.init();
                        }
                    }
                </script>
                <% } else if (title === "notAllowed") { %>
                <%- include ../shared/notAllowed.ejs %>
                <% } else if (title === "unmatched") { %>
                <%- include ../shared/invalid.ejs %>
                <% } %>
            </main>
        </div>
    </div>


    <!-- <div class="user">
            <% if (username) { %>
            <div class="dropdown">
                <a href="#" class='dropdown-toggle user-information' data-toggle="dropdown">
                    <%= fullName %>
                </a>

                <ul class="dropdown-menu pull-right">
                    <li>
                        <form action="/users/logOut" method="post">
                            <input type="hidden" name="currentUrl" value="<%= title %>" />
                            <input class="btn" style="width: 100%;" type="submit" value="Log Out" />
                        </form>
                    </li>
                </ul>
            </div>
            <% } else { %>
            <form action="/users/logIn" method="POST">
                <input type="hidden" name="currentUrl" value="<%= title %>" />
                <label for="username" style="display: inline; color: white;">Username</label>
                <input type="text" name="username" style="display: inline;" />
                <label for="password" style="display: inline; color: white;">Password</label>
                <input type="password" name="password" style="display: inline;" />
                <input type="submit" value="Log In" style="position: relative; height: 30px; top: -5px;" />
            </form>
            <% } %>
        </div> -->
</body>

</html>