<style>
    #zoomIn, #zoomOut {
        width: 40px;
    }
    [name="goLeft"] {
        /* -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg); */
        height: 100%;
        width: 40px;
    }
    [name="goRight"] {
        height: 100%;
        width: 40px;
        /* -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg); */
    }
</style>


<script>
    if (!(window.ActiveXObject) && "ActiveXObject" in window) {
        setTimeout(function (e) {
            $('.BuildingHeight').css({
                "min-width": "300vh"
            });
            setTimeout(function (e) {
                $('.BuildingHeight').css({
                    "min-width": "300vh"
                });
            }, 700);
        }, 600);
    }
</script>

<div class="p-2">
    <!-- Nav pills -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#etcB2" data-toggle="pill" id="EtcBuildingBfl2">B - Floor 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#etcC2" data-toggle="pill" id="EtcBuildingC">C - Floor 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm rounded-0 active" href="#etcGF" data-toggle="pill" id="EtcBuildingGF">D - Floor 0</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#etcD2" data-toggle="pill" id="EtcBuildingD">D - Floor 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#etcD3" data-toggle="pill" id="EtcBuildingDfl3">D - Floor 3</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#mhq1" data-toggle="pill" id="MHQfl1">MHQ - Floor 1</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#mhq2" data-toggle="pill" id="MHQfl2">MHQ Floor 2</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link btn-sm rounded-0" href="#mhq6" data-toggle="pill" id="MHQfl6">MHQ Floor 6</a>
        </li> -->
    </ul>

    <div class="form-inline mu-6">
        <div class="form-group mx-sm-0 m-1 ml-6">
            <input class="form-control form-control-sm" id="findFulltextInput" list="fulltextSearch" type="text" name="fulltextSearch"
                placeholder="Fulltext search for a person, place or room..." />
            <datalist id="fulltextSearch">
            </datalist>
        </div>
        <button class="btn btn-success btn-sm m-1" onclick="Controller.findFulltext()">Find</button>
        <button id="openFulltextButton" class="btn btn-outline-success btn-sm m-1" onclick="Controller.openFulltext()">Open</button>
    </div>

    <div name="onHoverPosition">
        <div id="onHoverLocationInformation">
            <h4><span id="onHoverLocationPlace"></span></h4>
            <h4><span id="onHoverLocationPerson"></span></h4>
            <p><span id="onHoverLocationTeam"></span></p>
        </div>
    </div>

    <div class="container-fluid ml-6">
        <div class="row">
            <div class="col-sm-11">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <button name="goLeft" class="btn btn-outline-primary btn-sm btn-block rounded-0 border-0"><i
                                    class="fas fa-angle-double-left"></i></button>
                        </div>
                        <div class="col-sm-10">
                            <!-- Tab panes -->
                            <!-- <button name="goUp" class="btn btn-primary rounded-0 btn-sm btn-block">Up</button> -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="etcGF">
                                    <div class="BuildingHeight">
                                        <%- include tabs/ETC_BuildingGF.ejs %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="etcC2">
                                    <div class="BuildingHeight">
                                        <%- include tabs/ETC_BuildingC.ejs %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="etcD2">
                                    <div class="BuildingHeight">
                                        <%- include tabs/ETC_BuildingD.ejs %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="mhq1">
                                    <div class="BuildingHeight">
                                        <%- include tabs/MHQ_Floor1.ejs %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="mhq2">
                                    <div class="BuildingHeight">
                                        <%- include tabs/MHQ_Floor2.ejs %>
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="mhq6">
                                    <div class="BuildingHeight">
                                        <%- include tabs/MHQ_Floor6.ejs %>
                                    </div>
                                </div> -->
                                <div class="tab-pane fade" id="etcD3">
                                    <div class="BuildingHeight">
                                        <%- include tabs/ETC_BuildingD_Floor3.ejs %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="etcB2">
                                    <div class="BuildingHeight">
                                        <%- include tabs/ETC_BuildingB_Floor2.ejs %>
                                    </div>
                                </div>
                            </div>
                            <!-- <button name="goDown" class="btn btn-primary btn-sm btn-block rounded-0">Down</button> -->
                        </div>
                        <div class="col-sm-1">
                            <button name="goRight" class="btn btn-outline-primary btn-sm btn-block rounded-0 border-0"><i
                                    class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

                <div class="zoomer-div">
                    <button class="btn btn-info border rounded-0" id="zoomIn">+</button><br />
                    <button class="btn btn-info border rounded-0" id="zoomOut">-</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- 
<table id="getBuildings"></table>
<table id="getRooms"></table>
<table id="getData"></table> -->


<script>
    /* events fired on the draggable target */
    var allDivs = document.querySelectorAll('.BuildingHeight div[name="floorBody"]'),
        startX,
        startY;
    for (var index = 0; index < allDivs.length; index++) {
        allDivs[index].addEventListener("dragstart", function (e) {
            var img = document.createElement("img");
            img.src = "none";
            e.dataTransfer.setDragImage(img, 0, 0);
        });
        allDivs[index].addEventListener('mousedown', function (e) {
            startX = e.offsetX;
            startY = e.offsetY;
            // console.log("started");
        });

        // allDivs[index].addEventListener("drag", function (event) {
        //     $('.BuildingHeight div[name="floorBody"]').stop().animate({
        //         scrollTop: startX - event.offsetX,
        //         scrollLeft: startY - event.offsetY
        //     });
        // });

        allDivs[index].addEventListener("dragleave", function (event) {
            // prevent default action (open as link for some elements)
            event.currentTarget.scrollLeft = event.offsetX;
            event.currentTarget.scrollTop = event.offsetY;
            // console.log('end');
        });
    }

    var scrolledUp = 0, scrolledLeft = 0;
    // document.getElementsByName("goUp")[0].addEventListener('click', function (e) {
    //     scrolledUp = scrolledUp - 300;
    //     if (scrolledUp < 0) {
    //         scrolledUp = 0;
    //     }
    //     $('.BuildingHeight div[name="floorBody"]').stop().animate({
    //         scrollTop: scrolledUp
    //     });
    // });
    // document.getElementsByName("goDown")[0].addEventListener('click', function (e) {
    //     scrolledUp = scrolledUp + 300;
    //     $('.BuildingHeight div[name="floorBody"]').stop().animate({
    //         scrollTop: scrolledUp
    //     });
    // });
    document.getElementsByName("goLeft")[0].addEventListener('click', function (e) {
        scrolledLeft = scrolledLeft - 300;
        if (scrolledLeft < 0) {
            scrolledLeft = 0;
        }
        $('.BuildingHeight div[name="floorBody"]').stop().animate({
            scrollLeft: scrolledLeft
        });
    });
    document.getElementsByName("goRight")[0].addEventListener('click', function (e) {
        // var contentWidth = $(".BuildingHeight div").width();
        // var containerWidth = $(".BuildingHeight").width();
        // var scrollValue = contentWidth-containerWidth;
        if (scrolledLeft + 300 < 2500) {
            scrolledLeft = scrolledLeft + 300;
        }
        $('.BuildingHeight div[name="floorBody"]').stop().animate({
            scrollLeft: scrolledLeft
        });
    });
</script>